.pageTitle {
    font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 27.9895px;
line-height: 110%;
text-decoration: none;
position: relative;
display: flex;
justify-self: center;
align-self: center;
padding: 0;
margin: 0;
  }

/*BUTTON STYLES*/
.icon-button{
    width: 32px;
    height: 32px;
    background-color: #F2F2F2;
    border-radius: 100px;
    box-shadow: 0px 4px 4px rgba(35, 35, 36, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  position: relative;
  
  }

.nav-bottom-swipe{
    position: fixed;
    bottom: 0;
    right: 0;
}

.nav-bottom-swipe img{
    width: 100vw;
    max-height: 100px;
}

.fab{
    width: 48px;
    height: 48px;
    background-color: #FF6767;
    border-radius: 100px;
    box-shadow: 0px 4px 4px rgba(35, 35, 36, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 80px 24px;
}
/*BUTTON STYLES*/

/*TASK CARD STYLES*/
.task-card{
    box-shadow: 0px 4px 4px rgba(35, 35, 36, 0.25);
    border-radius: 10px;
    border: none;
}

.task-time{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px;
width: 83px;
height: 44px;
color: #F2F2F2;
font-family: 'SF Pro Display';
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 100%;

background: #FF6767;
border-radius: 11px;
}

.task-name{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 102.5%;
}

.task-streak{
font-family: 'SF Pro Display';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 102.5%;
}

.completeTaskCamera{
    width: 42px;
    height: 42px;
    background-color: #F8F2E6;
    border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  position: relative;
}





/*TASK CARD STYLES*/