header{
  backdrop-filter: blur(15px);
  height: 64px;
}

.pageTitle {
    font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 27.9895px;
line-height: 110%;
text-decoration: none;
position: relative;
display: flex;
justify-self: center;
align-self: center;
padding: 0;
margin: 0;
  }

input{
  height: 42px;
box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);
background: #EBEBEB;
border-radius: 10px;
border: none;
width: 100%;

}

/*BUTTON STYLES*/
.icon-button{
    width: 32px;
    height: 32px;
    background-color: #F2F2F2;
    border-radius: 100px;
    box-shadow: 0px 4px 4px rgba(35, 35, 36, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  position: relative;
  
  }

.nav-bottom-swipe{
  
  position: fixed;
  bottom: 0;
  background-image: url(/images/nav-bottom-swipe.svg);
  background-repeat: none;
  width: 100vw;
  background-size: cover;
  height: 40px;
}

.bottom-content{
  position:relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top:8px;
  
}

.fab{
    width: 48px;
    height: 48px;
    background-color: #FF6767;
    border-radius: 100px;
    box-shadow: 0px 4px 4px rgba(35, 35, 36, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 80px 24px;
}


.button-pop{
  box-shadow: 0px 2px 0px #FEA800, inset 1px -1px 0px #FEA800;
border-radius: 4px;
text-decoration: none;
padding: 16px;
background-color: #F2F2F2;
}

.button-contained{
  box-shadow: 0px 2px 0px #FEA800, inset 1px -1px 0px #FEA800;
  border-radius: 4px;
  text-decoration: none;
  background-color: #FFFFFF;
  height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  width: 100%;
  border: none;
}



.button-contained:active {

  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  text-decoration: none;
  background: #FEA800;
  height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  width: 100%;
  border: none;
}

.button-contained img{
  padding-right: 8px;
}

.button-toimage{
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  text-decoration: none;
  background-image: url(/images/img-placeholder-ripped.png);
  background-size: cover;
  background-position: center;
  height: 256px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: flex-start;
  margin-top: 16px;
  padding-top: 8px;
  width: 100%;
  border: none;
}


.button-partner{
  box-shadow: 0px 2px 0px #FEA800, inset 1px -1px 0px #FEA800;
  border-radius: 4px;
  height: fit-content;
  text-decoration: none;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  padding: 16px;
  
}

/*BUTTON STYLES*/

/*TASK CARD STYLES*/
.card-container{
    box-shadow: 0px 4px 4px rgba(35, 35, 36, 0.25);
    border-radius: 10px;
    border: none;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
}

.task-time{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px;
width: 83px;
height: 44px;
color: #F2F2F2;
font-family: 'SF Pro Display';
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 100%;

background: #FF6767;
border-radius: 11px;
}

.task-name{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 102.5%;
}

.task-streak{
font-family: 'SF Pro Display';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 102.5%;
text-decoration: none;
position: relative;
display: flex;
justify-self: center;
align-self: center;
padding: 0;
margin: 0;
}

.completeTaskCamera{
    width: 42px;
    height: 42px;
    background-color: #F8F2E6;
    border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  position: relative;
}





/*TASK CARD STYLES*/


/*TEXT STYLES*/

.text1{
  font-family: 'SF Pro Display';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 200%;
text-decoration: none;

padding: 0;
margin: 0;
}

.text3{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 110%;
text-decoration: none;
position: relative;
display: flex;
justify-self: center;
align-self: center;
padding: 0;
margin: 0;
}

.text2{
  font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 27.9895px;
line-height: 110%;
}

.date-time{
  color: #FEA800;
  font-weight: 300;
}

.text3-bold-yellow{
  font-family: 'SF Pro Display';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 102.5%;
color: #FEA800;
margin: 0;
padding: 0;
}

a{
  text-decoration: none;
}

.text-dark{
  color: #2e2e2e;
}

.card-title{
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 110%;
color: #2E2E2E;
margin:0;
}

/*TEXT STYLES*/


/*POSITIONING*/
.bottom-center{
  position: absolute;
  cursor: pointer;
  bottom: 0;
  margin: 0px 0px;
}

.phone-frame{
  height: 812px;
  width: 375px;
  padding: 0;
  margin: 0;
}

.onboarding-image{
  display: flex;
  z-index: -50;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 0;
  margin: 0;
  bottom: 0;
}

.onboarding-image img{
  width: 100%;
  padding: 0;
  margin: 0;
}


.timepicker{
  display: flex;
  justify-content:center;
  width: 100%;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  margin: 0px 0px;
}

/*POSITIONING*/



/*TOGGLE SWITCH*/
.switch {
	position: relative;
	display: block;
	vertical-align: center;
	width: 64px;
	height: 30px;
	padding: 3px;
	margin:0;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
	border-radius: 18px;
	box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	box-sizing:content-box;
}
.switch-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	box-sizing:content-box;
}
.switch-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 10px;
	background: #f3e4e4;
	border-radius: inherit;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
	box-sizing:content-box;
  
}
.switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
	box-sizing:content-box;
}
.switch-label:before {
	content: attr(data-off);
	right: 11px;
	color: #FF6767;
  font-weight: 400;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
	content: attr(data-on);
	left: 11px;
	color: #FDA758;
  font-weight: 400;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	opacity: 0;
}
.switch-input:checked ~ .switch-label {
	background: #f5e3d4;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
	opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
	opacity: 1;
}
.switch-handle {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 28px;
	height: 28px;
	background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
	background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
	border-radius: 100%;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -6px;
	width: 12px;
	height: 12px;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
	border-radius: 6px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
	left: 38px;
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
 
/* Transition
========================== */
.switch-label, .switch-handle {
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}



/*TOGGLE SWITCH*/


/*TOGGLE DAYS OF THE WEEK*/

.day-style{
  padding-top:16px;
}

ul {
  padding: 0;
  margin: 0;
  clear: both;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

li{
  list-style-type: none;
  list-style-position: outside;

  width: 42px;
  height: 42px;
 
}

input[type="checkbox"]:not(:checked), 
input[type="checkbox"]:checked {
  position: absolute;
  left: -9999%;
}

input[type="checkbox"] + label {
  display: flex;
  justify-content: center;
  align-items: center;
  
  cursor: pointer;
  border: none;
  color: black;
  background-color: white;
  width: 42px;
  height: 42px;
  background: #FFFFFF;
  /* ButtonPop */
  
  box-shadow: 0px 2px 0px #FEA800, inset 1px -1px 0px #FEA800;
  border-radius: 4px;

  
}

input[type="checkbox"]:checked + label {
  border: none;
  color: white;

  background: #FEA800;
  /* SelectedButton */
  
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

/*TOGGLE DAYS OF THE WEEK*/


.redb{
  background-color: red;
}

.honour{

}

.honour-selected{
  
}